@import '../../theme/variables.scss';

page-agenda {
    @extend .default-page;

    h3 {
        border-bottom: 5px solid map-get($colors, 'primary');
        box-sizing: border-box;
        text-align: center;
        padding: 5px 15px;
        margin: 15px 20px;
    }
}
