@import '../../theme/variables.scss';

metroid {

    ion-col {
        div {
            display: inline-block;
            width: 100%;
            border: 5px solid rgba(0,0,0,0.2);
            box-sizing: border-box;
            background-color: map-get($colors, 'primary');
            padding: 50% 0;
        }
    }

}
